@import url('../../../../blocks/timezoneclock/bootstrap-select.min.css');

.block_timezoneclock .additionaltimezones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.block_timezoneclock .sectiontitle {
    font-size: 1.6rem;
    border-bottom: 0.08em solid #ccc;
    margin-bottom: 0.6em;
}
.block_timezoneclock .clockwrap {
    --size: 200px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 0.1em;
    margin-right: 0.1em;
    max-width: 360px;
    background-color: #f3f5f8;
    border: 0.1em solid #ccc;
    border-radius: 0.3em;
    padding: 0;
    margin-bottom: 0.8em;
    flex-basis: 50%;
    font-size: 1.2em;
    margin-top: 1em;
}
.block_timezoneclock .clockwrap .dateline {
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    text-shadow: 0 0 13px #7084ca;
    color: white;
    background-color: black;
    padding: 0.2em 0.8em;
    border-radius: 0.3em;
    margin: 0.5em auto;
    max-width: calc(100% - .1em);
}
.block_timezoneclock .clockwrap .clock {
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    text-shadow: 0 0 13px #7084ca;
    color: white;
    margin-bottom: 0;
}
.block_timezoneclock .clockwrap .tztitle {
    background-color: #7084ca;
    transform: translateX(0.8em) translateY(-1.2em);
    color: white;
}
.block_timezoneclock .tab-pane {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    .block_timezoneclock .clockwrap {
        flex-basis: auto;
        max-width: unset;
    }
}

.block_timezoneclock .clockwrap .analogclock {
    height: calc(var(--size) + 10px);
    width: calc(var(--size) + 10px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f5f5f5;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.14);
    border-width: 0;
    margin: 0.5em auto;
}

.block_timezoneclock .clockwrap .analogclock .clock__inner {
    position: relative;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
}

.block_timezoneclock .clockwrap .analogclock .clock__axis {
    background: black;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: calc(var(--size) / 2);
    left: calc(var(--size) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-6px) translateY(-6px);
}

.block_timezoneclock .clockwrap .analogclock .clock__axis::after {
    width: 7px;
    height: 7px;
    content: " ";
    background-color: #7084ca;
    display: inline-block;
    border-radius: 50%;
}

.block_timezoneclock .clockwrap .analogclock .clock__indicator,
.block_timezoneclock .clockwrap .analogclock [data-fraction="hour"],
.block_timezoneclock .clockwrap .analogclock [data-fraction="minute"],
.block_timezoneclock .clockwrap .analogclock [data-fraction="second"] {
    position: absolute;
    color: black;
    transform-origin: bottom center;
    border-radius: 1px;
    display: block;
}

.block_timezoneclock .clockwrap .analogclock [data-fraction="hour"],
.block_timezoneclock .clockwrap .analogclock [data-fraction="minute"],
.block_timezoneclock .clockwrap .analogclock [data-fraction="second"] {
    --gudder: 0;
    --divider: 60;
    --unit: 1;
    --hand-width: 6px;
    width: var(--hand-width);
    left: calc(50% - var(--hand-width) / 2);
    transform: rotateZ(calc(var(--unit) * 360deg / var(--divider)));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: calc(var(--size) / 2 - var(--gudder));
    margin-top: var(--gudder);
    font-size: 0;
    background-color: black;
}

.block_timezoneclock .clockwrap .analogclock [data-fraction="hour"] {
    --divider: 12;
    --gudder: 50px;
}

.block_timezoneclock .clockwrap .analogclock [data-fraction="minute"] {
    --gudder: 40px;
}

.block_timezoneclock .clockwrap .analogclock [data-fraction="second"] {
    --gudder: 20px;
    --hand-width: 3px;
    background-color: #7084ca;
    display: flex;
    align-items: end;
    z-index: 1;
}

.block_timezoneclock .clockwrap .analogclock [data-fraction="second"]::after {
    height: 20px;
    width: 4px;
    content: " ";
    display: inline-block;
    background-color: inherit;
    transform: translateY(10px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.block_timezoneclock .clockwrap .analogclock .clock__indicator {
    height: calc(var(--size) / 2);
    border-top: 5px solid #a0a0a0;
    background: none;
    width: 1px;
    left: calc(50%);
    transform: rotateZ(calc(6deg * (5 + var(--nth-child))));
    text-shadow: none;
}

.block_timezoneclock .clockwrap .analogclock .clock__indicator:nth-of-type(5n) {
    width: 2px;
    font-weight: bold;
    border-top: 10px solid #1d1d1d;
    counter-increment: hourcounter;
}

.block_timezoneclock .clockwrap .analogclock .clock__indicator:nth-of-type(5n)::after {
    content: counter(hourcounter) "";
    transform: rotateZ(calc(-6deg * (5 + var(--nth-child))));
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_timezoneclock .clockwrap .analogclock [data-fraction="dayPeriod"] {
    --width: 2em;
    position: absolute;
    display: inline-block;
    bottom: 20%;
    left: calc(50% - var(--width) / 2);
    color: white;
    text-align: center;
    background-color: black;
    padding: 0.1em;
    font-size: 0.6em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.4em;
    width: var(--width);
}

.block_timezoneclock .clockwrap .unitdisplay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block_timezoneclock .clockwrap .unitdisplay::before {
    content: attr(data-unit);
}

.block_timezoneclock .clockwrap .digitalclock {
    background-color: black;
    padding: 0.2em 0.8em;
    width: 100%;
    border-radius: inherit;
}

.block_timezoneclockconverterform #id_toggletimestamp {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.block_timezoneclockconverterform #id_toggletimestamp ~ span {
    cursor: pointer;
}

.block_timezoneclockconverterform #id_toggletimestamp:disabled ~ span {
    opacity: .65;
    cursor: not-allowed;
    pointer-events: none;
}

.block_timezoneclockconverterform .icon {
    margin-right: 0;
}

.block_timezoneclockconverterform #id_toggletimestamp:not(:checked) ~ span > i:nth-child(1),
.block_timezoneclockconverterform #id_toggletimestamp:checked ~ span > i:nth-child(2) {
    display: none;
}

.block_timezoneclockconverterform #fitem_id_timezone,
.block_timezoneclockconverterform #fitem_id_timezones {
    display: inline-block;
}

.block_timezoneclockconverterform #id_formheadercontainer.show {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.block_timezoneclockconverterform #fgroup_id_timeinput {
    flex-basis: 100%;
}