{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timezoneclock/clock

    This template renders clock widget

    Example context (json):
    {
        "timezone": "Computer",
        "tz": "Asia\/Kolkata",
        "namedfractions": {
            "D": "Mon",
            "F": "April",
            "d": "14",
            "Y": "2025",
            "h": "10",
            "i": "42",
            "s": "15",
            "A": "PM"
        },
        "fractions": [
            {
                "fraction": "D",
                "value": "Mon",
                "hide": false
            },
            {
                "fraction": "seperator",
                "value": " ",
                "hide": false
            },
            {
                "fraction": "F",
                "value": "April",
                "hide": false
            },
            {
                "fraction": "seperator",
                "value": " ",
                "hide": false
            },
            {
                "fraction": "d",
                "value": "14",
                "hide": false
            },
            {
                "fraction": "seperator",
                "value": " ",
                "hide": false
            },
            {
                "fraction": "Y",
                "value": "2025",
                "hide": false
            },
            {
                "fraction": "seperator",
                "value": " ",
                "hide": false
            },
            {
                "fraction": "h",
                "value": "10",
                "hide": false
            },
            {
                "fraction": "seperator",
                "value": ":",
                "hide": false
            },
            {
                "fraction": "i",
                "value": "42",
                "hide": false
            },
            {
                "fraction": "seperator",
                "value": ":",
                "hide": false
            },
            {
                "fraction": "s",
                "value": "15",
                "hide": false
            },
            {
                "fraction": "seperator",
                "value": " ",
                "hide": false
            },
            {
                "fraction": "A",
                "value": "PM",
                "hide": false
            }
        ],
        "timeunits": {
            "minute": "06",
            "second": "30",
            "dayPeriod": "AM",
            "hour": "1"
        },
        "attributes": [
            {
                "name": "data-action",
                "value": "replacecomputertimezone"
            }
        ]
    }
}}
<div class="position-relative clockwrap" data-region="clock" data-timezone="{{tz}}"{{#blockautoupdate}} data-autoupdate="false"{{/blockautoupdate}}{{#attributes}} {{name}}="{{value}}" {{/attributes}}>
    <small class="position-absolute badge tztitle">{{timezone}}</small>
    {{#isanalog}}
        <div class="clock analogclock">
            <div class="clock__inner">
                {{#timeunits}}
                <span data-fraction="g" class="hand clock__hour" data-unit="{{hour}}" style="--unit: {{hour}}">
                    <span class="sr-only">{{hour}}</span>
                </span>
                <span data-fraction="i" class="hand clock__minute" data-unit="{{minute}}" style="--unit: {{minute}}">
                    <span class="sr-only">{{minute}}</span>
                </span>
                <span data-fraction="s" class="hand clock__second" data-unit="{{second}}" style="--unit: {{second}}">
                    <span class="sr-only">{{second}}</span>
                </span>
                <span class="center hand clock__axis"></span>
                {{/timeunits}}
                {{#indicators}}
                    <span class="clock__indicator" style="--nth-child: {{{.}}}"></span>
                {{/indicators}}
            </div>
            {{#timeunits}}
            <span data-fraction="A" class="clock__dayPeriod unitdisplay" data-unit="{{dayPeriod}}">
                <span class="sr-only">{{dayPeriod}}</span>
            </span>
            {{/timeunits}}
        </div>
        <p class="dateline badge mx-auto">
            {{#fractions}}
                {{^hide}}
                <span class="unitdisplay" data-fraction="{{{fraction}}}" data-unit="{{{value}}}">
                    <span class="sr-only">{{{value}}}</span>
                </span>
                <span class="unitdisplay" data-fraction="seperator" data-unit=" "></span>
                {{/hide}}
            {{/fractions}}
        </p>
    {{/isanalog}}
    {{^isanalog}}
        <p class="clock digitalclock">
            {{#fractions}}
            <span class="unitdisplay" data-fraction="{{{fraction}}}" data-unit="{{{value}}}">
                <span class="sr-only">{{{value}}}</span>
            </span>
            {{/fractions}}
        </p>
    {{/isanalog}}
</div>
