{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timezoneclock/clock

    This template renders clock widget

    Example context (json):
    {
        "tz": "Asia/Kolkata",
        "blockautoupdate": false,
        "day": "Sun",
        "month": "Dec",
        "date": "18",
        "year": "2022",
        "hour": "12",
        "minute": "49",
        "second": "00",
        "meridiem": "PM",
        "indicators": [
            0,
            1,
            2,
            3,
            4
        ]
    }
}}
<div class="position-relative clockwrap" data-region="clock" data-timezone="{{tz}}"{{#blockautoupdate}} data-autoupdate="false"{{/blockautoupdate}}>
    <small class="position-absolute badge tztitle">{{tz}}</small>
    {{#isanalog}}
        <div class="clock analogclock">
            <div class="clock__inner">
                <span data-fraction="hour" class="hand clock__hour" data-unit="{{hour}}" style="--unit: {{hour}}">
                    <span class="sr-only">{{hour}}</span>
                </span>
                <span data-fraction="minute" class="hand clock__minute" data-unit="{{minute}}" style="--unit: {{minute}}">
                    <span class="sr-only">{{minute}}</span>
                </span>
                <span data-fraction="second" class="hand clock__second" data-unit="{{second}}" style="--unit: {{second}}">
                    <span class="sr-only">{{second}}</span>
                </span>
                <span class="center hand clock__axis"></span>
                {{#indicators}}
                    <span class="clock__indicator" style="--nth-child: {{{.}}}"></span>
                {{/indicators}}
            </div>
            <span data-fraction="meridiem" class="clock__meridiem unitdisplay" data-unit="{{meridiem}}">
                <span class="sr-only">{{meridiem}}</span>
            </span>
        </div>
        <p class="dateline badge mx-auto">
            <span class="unitdisplay" data-fraction="day" data-unit="{{day}}">
                <span class="sr-only">{{day}}</span>
            </span>&nbsp;
            <span class="unitdisplay" data-fraction="month" data-unit="{{month}}">
                <span class="sr-only">{{month}}</span>
            </span>&nbsp;
            <span class="unitdisplay" data-fraction="date" data-unit="{{date}}">
                <span class="sr-only">{{date}}</span>
            </span>&nbsp;
            <span class="unitdisplay" data-fraction="year" data-unit="{{year}}">
                <span class="sr-only">{{year}}</span>
            </span>
        </p>
    {{/isanalog}}
    {{^isanalog}}
        <p class="clock digitalclock">
            <span class="unitdisplay" data-fraction="day" data-unit="{{day}}">
                <span class="sr-only">{{day}}</span>
            </span>&nbsp;
            <span class="unitdisplay" data-fraction="month" data-unit="{{month}}">
                <span class="sr-only">{{month}}</span>
            </span>&nbsp;
            <span class="unitdisplay" data-fraction="date" data-unit="{{date}}">
                <span class="sr-only">{{date}}</span>
            </span>&nbsp;
            <span class="unitdisplay" data-fraction="year" data-unit="{{year}}">
                <span class="sr-only">{{year}}</span>
            </span>&nbsp;
            <span class="unitdisplay" data-fraction="hour" data-unit="{{hour}}">
                <span class="sr-only">{{hour}}</span>
            </span>:{{!
            }}<span class="unitdisplay" data-fraction="minute" data-unit="{{minute}}">
                <span class="sr-only">{{minute}}</span>
            </span>:{{!
            }}<span class="unitdisplay" data-fraction="second" data-unit="{{second}}">
                <span class="sr-only">{{second}}</span>
            </span>&nbsp;
            <span class="unitdisplay" data-fraction="meridiem" data-unit="{{meridiem}}">
                <span class="sr-only">{{meridiem}}</span>
            </span>
        </p>
    {{/isanalog}}
</div>
