{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timezoneclock/main

    This template renders main block

    Example context (json):
    {
        "dateformat": "D F d Y h:i:s A",
        "isanalog": false,
        "formclass": "block_timezoneclock\\form\\converter",
        "userloggedin": true,
        "blockcontextid": 24,
        "indicators": [
            0,
            1,
            2,
            3,
            4,
            5,
            6,
            7,
            8,
            9,
            10,
            11,
            12,
            13,
            14,
            15,
            16,
            17,
            18,
            19,
            20,
            21,
            22,
            23,
            24,
            25,
            26,
            27,
            28,
            29,
            30,
            31,
            32,
            33,
            34,
            35,
            36,
            37,
            38,
            39,
            40,
            41,
            42,
            43,
            44,
            45,
            46,
            47,
            48,
            49,
            50,
            51,
            52,
            53,
            54,
            55,
            56,
            57,
            58,
            59
        ],
        "formuniqid": "form67fd41efdba7510",
        "additionaltimezones": [
            {
                "timezone": "Australia\/Perth",
                "tz": "Australia\/Perth",
                "namedfractions": {
                    "D": "Tue",
                    "F": "April",
                    "d": "15",
                    "Y": "2025",
                    "h": "01",
                    "i": "12",
                    "s": "15",
                    "A": "AM"
                },
                "fractions": [
                    {
                        "fraction": "D",
                        "value": "Tue",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "F",
                        "value": "April",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "d",
                        "value": "15",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "Y",
                        "value": "2025",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "h",
                        "value": "01",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "i",
                        "value": "12",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "s",
                        "value": "15",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "A",
                        "value": "AM",
                        "hide": false
                    }
                ]
            }
        ],
        "blockautoupdate": false,
        "information": {
            "server": {
                "timezone": "Server",
                "tz": "Asia\/Kolkata",
                "namedfractions": {
                    "D": "Mon",
                    "F": "April",
                    "d": "14",
                    "Y": "2025",
                    "h": "10",
                    "i": "42",
                    "s": "15",
                    "A": "PM"
                },
                "fractions": [
                    {
                        "fraction": "D",
                        "value": "Mon",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "F",
                        "value": "April",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "d",
                        "value": "14",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "Y",
                        "value": "2025",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "h",
                        "value": "10",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "i",
                        "value": "42",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "s",
                        "value": "15",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "A",
                        "value": "PM",
                        "hide": false
                    }
                ]
            },
            "user": {
                "timezone": "Server",
                "tz": "Asia\/Kolkata",
                "namedfractions": {
                    "D": "Mon",
                    "F": "April",
                    "d": "14",
                    "Y": "2025",
                    "h": "10",
                    "i": "42",
                    "s": "15",
                    "A": "PM"
                },
                "fractions": [
                    {
                        "fraction": "D",
                        "value": "Mon",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "F",
                        "value": "April",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "d",
                        "value": "14",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "Y",
                        "value": "2025",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "h",
                        "value": "10",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "i",
                        "value": "42",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "s",
                        "value": "15",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "A",
                        "value": "PM",
                        "hide": false
                    }
                ]
            },
            "computer": {
                "timezone": "\ud83d\udcbb Computer",
                "tz": "Asia\/Kolkata",
                "namedfractions": {
                    "D": "Mon",
                    "F": "April",
                    "d": "14",
                    "Y": "2025",
                    "h": "10",
                    "i": "42",
                    "s": "15",
                    "A": "PM"
                },
                "fractions": [
                    {
                        "fraction": "D",
                        "value": "Mon",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "F",
                        "value": "April",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "d",
                        "value": "14",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "Y",
                        "value": "2025",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "h",
                        "value": "10",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "i",
                        "value": "42",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "s",
                        "value": "15",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "A",
                        "value": "PM",
                        "hide": false
                    }
                ],
                "attributes": [
                    {
                        "name": "data-action",
                        "value": "replacecomputertimezone"
                    }
                ]
            },
            "toggler": {
                "header": "Clock",
                "id": "toggler67fd41efdba7511",
                "collapseable": true,
                "collapsed": false,
                "helpbutton": null
            }
        }
    }
}}
<div class="blockwrapper"{{#isanalog}} data-isanalog="1"{{/isanalog}}>
    {{#information}}
    <div class="tzinformationwrapper">
        {{#toggler}}
            <fieldset class="clearfix collapsible">
                {{> core_form/element-header }}
                <div class="tzinformation w-100">
                    {{#server}}
                        {{>block_timezoneclock/clock}}
                    {{/server}}
                    {{#user}}
                        {{>block_timezoneclock/clock}}
                    {{/user}}
                    {{#computer}}
                        {{>block_timezoneclock/clock}}
                    {{/computer}}
                </div>
                </div><!-- this line needed as div started in header template -->
            </fieldset>
        {{/toggler}}
    </div>
    {{/information}}
    <div class="converterform" id="{{formuniqid}}" data-form-class="{{{formclass}}}"{{!
    }}{{#userloggedin}} data-user-loggedin="1" {{/userloggedin}} data-contextid="{{{ blockcontextid }}}"></div>
    <div class="timezoneslist">
        {{#userloggedin}}
            {{> block_timezoneclock/timezones }}
        {{/userloggedin}}
    </div>
</div>
{{#js}}
    require(['block_timezoneclock/main'], function(amd) {
        amd.initBlock('{{{dateformat}}}');
        amd.registerForm('{{formuniqid}}', '{{{dateformat}}}');
    });
{{/js}}