{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timezoneclock/main

    This template renders main block

    Example context (json):
    {
        "usertimezone": {
            "tz": "UTC",
            "blockautoupdate": false,
            "day": "Sun",
            "month": "Dec",
            "date": "18",
            "year": "2022",
            "hour": "12",
            "minute": "49",
            "second": "00",
            "meridiem": "PM"
        },
        "tabshtml":"<ul class=\"nav nav-tabs mb-4 moodle-has-zindex\" id=\"dynamictabs-tabs\" role=\"tablist\">\n                <li class=\"nav-item\" role=\"presentation\" id=\"yui_3_17_2_1_1671347975537_21\">\n                    <a class=\"nav-link active\" id=\"timezones-tab\" data-toggle=\"tab\" href=\"#timezones\" role=\"tab\" aria-controls=\"timezones\" aria-selected=\"true\" tabindex=\"0\">\n                        Timezones\n                    </a>\n                </li>\n                <li class=\"nav-item\" role=\"presentation\" id=\"yui_3_17_2_1_1671347975537_124\">\n                    <a class=\"nav-link\" id=\"converter-tab\" data-toggle=\"tab\" href=\"#converter\" role=\"tab\" aria-controls=\"converter\" tabindex=\"-1\" aria-selected=\"false\">\n                        Converter\n                    </a>\n                </li>\n        </ul>"
    }
}}
<h2 class="sectiontitle">{{#str}} yourtimezone, block_timezoneclock {{/str}}</h2>
<div class="usertimezone">
    {{#usertimezone}}
        {{>block_timezoneclock/clock}}
    {{/usertimezone}}
</div>
{{{tabshtml}}}
{{#js}}
    require(['block_timezoneclock/main'], amd => amd.initBlock())
{{/js}}