{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_timezoneclock/timezones

    This template renders timezones tab

    Example context (json):
    {
        "additionaltimezones": [
            {
                "timezone": "\ud83d\udcbb Computer",
                "tz": "Asia\/Kolkata",
                "namedfractions": {
                    "D": "Mon",
                    "F": "April",
                    "d": "14",
                    "Y": "2025",
                    "h": "10",
                    "i": "42",
                    "s": "15",
                    "A": "PM"
                },
                "fractions": [
                    {
                        "fraction": "D",
                        "value": "Mon",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "F",
                        "value": "April",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "d",
                        "value": "14",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "Y",
                        "value": "2025",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "h",
                        "value": "10",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "i",
                        "value": "42",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": ":",
                        "hide": false
                    },
                    {
                        "fraction": "s",
                        "value": "15",
                        "hide": false
                    },
                    {
                        "fraction": "seperator",
                        "value": " ",
                        "hide": false
                    },
                    {
                        "fraction": "A",
                        "value": "PM",
                        "hide": false
                    }
                ],
                "attributes": [
                    {
                        "name": "data-action",
                        "value": "replacecomputertimezone"
                    }
                ]
            }
        ]
    }
}}
<div class="additionaltimezones">
    {{{ contexttitle }}}
    {{#additionaltimezones}}
        {{>block_timezoneclock/clock}}
    {{/additionaltimezones}}
</div>